<div class="container">
    <div class="is-flex is-justify-content-space-between p-3">
        <div class="image">
            <img src="./../../../../assets/logos/quiz.png" alt="quiz logo" width="90">
        </div>
        <div class="quiz-header">
            <h4>General Questions</h4>
            Welcome <span class="has-text-primary is-size-5"> {{player}}</span>
        </div>
    </div>
    <div class="is-flex is-justify-content-space-between p-3">
        <div class="score">
            <h5>{{points}} Points</h5>
        </div>
        <div class="question-remain">
            <span class="is-italic">Question {{currentQuestion+1}} of 10</span>
        </div>
        <div class="timer">
            {{counter}} seconds ⏱️
        </div>
    </div>

    <progress class="progress is-primary" value={{points}} max="100">{{points}}%</progress>
    <div class="question">
        <h3>{{questionList[currentQuestion]?.questionText}}</h3>
    </div>
    <div class="options">
        <ol *ngFor="let option of questionList[currentQuestion]?.options">
            <li class="message is-info p-3" (click)="answer(currentQuestion+1,option)">{{option.text}}</li>
        </ol>
    </div>
    <div class="is-flex is-justify-content-space-between p-5">
        <button class="button is-primary" (click)="previousQuestion()" [disabled]="currentQuestion===0">
            <span class="material-icons">
                arrow_back_ios
            </span>
        </button>
        <button class="button is-info" (click)="refreshQuiz()">
            <span class="material-icons">
                refresh
            </span>
        </button>
        <button class="button is-primary" (click)="nextQuestion()" [disabled]="currentQuestion>=10">
            <span class="material-icons">
                arrow_forward_ios
            </span>
        </button>
    </div>
</div>