.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-container {
      display: flex;
      align-items: center;
      form {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
    }
  }
  