<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://maryucha.dev" target="_blank">
            <img src="../../../../assets/logos/quiz.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarItems" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Novo Jogador
            </a>             
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light is-danger">
                        <span class="icon"><i class="material-icons">logout</i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="main-content columns is-fullheight">
    <div class="container column is-10">
        <div class="section">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>